html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Times New Roman, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #D6CCC2;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: left;
  font-size: 1.2em;
  color: black;
  text-align: center;
  padding: 1.2vw 1.4vw;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #F5EBE0;
  color: black;
}

.categoryHeaders {
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: translate(0, 100%);
}

.garment {
  display: flex;
} 

*.garmentimg {
  width: 30%;
  height: 50%vw;
  margin: .15vw;
}

.garmentimg img {
  width: 100%;
  height: 100%;
}

.alternatives {
  width: 50%;
  text-align: center;
  margin: auto;
}

/* gallery snap */
article {
  /* overflow: scroll; */

  scroll-snap-type: y mandatory;
  /* Reserve space for header and additional space so above page are visible a bit*/
  scroll-padding-top: calc(var(--bar-height) + var(--extra-space));

  /* position: absolute; */

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--bar-height) 0 0 0;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 2px black solid;
  font-size: 36px;
}

section.large {
  height: 100vh;
}

.allgarments {
  margin: 1vw 4vw;
  display: flex;
  align-items: center;
}

.garmentcontainer {
  padding: 5vw;
  margin: 1vw;
}
.garmentcontainer img {
  justify-content: center;
  max-width: 50%;
  max-height: 50%;
  padding: 5vw;
  margin: 1vw;
}

.b1 {
  background-color: #D6CCC2;
}

.b2 {
  background-color: #e0cddd;
}

.b3 {
  background-color: #F5EBE0;
}

.garmentinfo {
  padding: 2vw;
}

.garmentinfo h4, h5, h6 {
  padding: 0;
  margin: .5vw;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column; /* Align content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100vh; /* Use the full viewport height */
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%; /* Carousel takes the full width of the viewport */
  margin-top: 20px; /* Adjust the top margin as needed to move the carousel down */
}

.slide {
  flex: 0 0 33.33%; /* Equal width for each slide (3 slides in a row) */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.5s ease;
}

.slide a {
  text-decoration: none;
  display: block;
  color:black;
}

.slide a:visited{
  color:black;
}

.slide a:hover{
  color:aqua;
}


.image-container {
  overflow: clip;
  height: 0;
  padding-bottom: 125%; 
  position: relative;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease; /* Transition for the hover effect */
}

.slide p {
  margin: 10px 0;
}

.slide a:hover .image-container img {
  transform: scale(1.1); /* Increase the scale on hover (adjust the scale factor as needed) */
}

h1 {
  font-size: 36px;
  color: #333;
}

h2 {
  font-size: 24px;
  color: #0074c2;
}

h3 {
  font-size: 18px;
  color: #666;
}

p {
  font-size: 16px;
  color: #333;
  margin: 20px 0;
}

body.clothingpage{
  margin-top: 5%;
}